
.navbar{
background-color: #220963;
  
  position: fixed;
}
body {
  padding-top: 60px;
   /* adjust based on navbar height */
}


/* 🔹 Image hover zoom only */
.img-wrapper {
  overflow: hidden;
}
.img-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.4s ease;
}
.img-wrapper img:hover {
  transform: scale(1.1);
}
.landingimg{
border-radius: 40px 40px 40px 0px;
}
.bg{
    
  background-size: 400% 400%;
  

}
/* marqueee */
.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-inner {
  display: flex;
  animation: marquee 50s linear infinite;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* moves half because we duplicated */
}


/* Add this to your CSS file */
.card-hover {
  transition: transform 0.3s, box-shadow 0.3s;
}
.card-hover:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 1.5rem 2.5rem rgba(255, 0, 25, 0.15), 0 0.5rem 1rem rgba(0,0,0,0.05);
}